<%# This presumes that only the page actions will ONLY be turned on for resource and
archival_object pages %>

<%# Use HTML5's download attribute; possibly specify a better filename, as well.
can do that by grabbing the 2nd item in the breadcrumb, which is the colleciton title.

%>
<%
if record.primary_type == 'resource'
  filename = record.uri.split('/')[-1]
  title = "archives_at_yale_resource_" + record.uri
else
  filename = record.resource_uri.split('/')[-1]
  title = "archives_at_yale_resource_" + record.resource_uri
end
%>

 <a href="http://ead-pdfs.library.yale.edu/<%= filename %>.pdf"
    class="btn btn-default page_action print"
    download="<%= filename %>.pdf"
     target="_blank">
      <i class="fa fa-file-pdf-o fa-3x"></i>
      <br/>
      <span class="print-label">
	<%= t("plugin.yale_pdf.action_label") %>
      </span>
    </a>
